{% load static %}
<link rel="apple-touch-icon" href="themes/default/apple-touch-icon.png">
<link rel="stylesheet" href="{% static 'themes/default/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'themes/default/css/bootstrap-theme.css' %}">
<link rel="stylesheet" href="{% static 'themes/default/css/main.css' %}">