{% load static %}
{% load store_widgets %}
<!doctype html>
<html class="no-js" lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
    body {
    padding-top: 50px;
    padding-bottom: 20px;
    }
    </style>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Tante Mate Laden {% block title %} {% endblock %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if request.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guthaben aufladen <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a onclick="addFunds({{request.user.id}}, 5)">5€</a></li>
                  <li><a onclick="addFunds({{request.user.id}}, 10)">10€</a></li>
                  <li><a onclick="addFunds({{request.user.id}}, 20)">20€</a></li>
                  <li><a onclick="addFunds({{request.user.id}}, 50)">50€</a></li>
                  <li><a onclick="addFunds({{request.user.id}}, 100)">100€</a></li>
                </ul>
              </li>
              <li><a href="{% url 'account-index' %}">
                {% if request.user.account.avatar %}
  <img src="{{ request.user.account.avatar.url }}" style="
  max-height: 48px;
  margin-top: -15px;
  margin-bottom: -15px;
  ">{% endif %}

Angemeldet als <b>{{ request.user.username }}</b></a></li>
              <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-off"></i></a>
            </ul>
          {% else %}
            <form class="navbar-form navbar-right" method="post" action="{% url 'login' %}" role="form">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" placeholder="username" name="username" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" name="password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">Log in</button>
              <a class="btn btn-default" href="{% url 'signup' %}">Registrieren</a>
            </form>
          {% endif %}
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
      <div id="alerts">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
          </div>
        {% endfor %}
      </div>
      <!-- Main jumbotron for a primary marketing message or call to action -->
      {% block jumbo %}
        {% comment %}
        <div class="jumbotron">
          <div class="container-fluid">
            <h1>Heisser, schwarzer Kaffee.</h1>
            <p>Kaffee ist leider gerade aus aber kuck dich ruhig um und nimm' dir ne Mate.</p>
          </div>
        </div>
        {% endcomment %}
      {% endblock %}
      <div class="container-fluid">
        {% block content %}
          {% drink_row %}
        {% endblock %}
      </div>
        <footer style="background-color: #ccc">
          <div class="container-fluid">
            <div class="row">
            <div class="col-md-4">
              &copy; <a href="https://twitter.com/deinkoks">deinkoks</a> & <a href="https://twitter.com/fronbasalpub">fronbasal</a> @ <a href="https://chaospott.de">foobar e.V.</a>
            </div>

            <div class="col-md-8">
              <span class="pull-right">
              {% if request.user.is_staff %}
              <a href="/admin/">Administration</a> |
              {% endif %}
              <a href="/api/">API</a> |
              <a href="https://github.com/c3e/TanteMateLaden">Github</a>
              </span>
            </div>

            </div>
          </div>
        </footer>
        </div> <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript">
        function addAlert(message, type) {
        $('#alerts').prepend(
        '<div class="alert alert-' + type + ' alert-dismissable">'+
          '<button type="button" class="close" ' +
          'data-dismiss="alert" aria-hidden="true">' +
          '&times;' +
          '</button>' +
          message +
        '</div>');
        };
        function buyItem(user, itemSlug) {
        // e.g. http://localhost:8000/api/buy/item/3/club-mate-05/
        $.getJSON( '/api/buy/item/' + user + '/' + itemSlug + '/', function( data ) {
        addAlert(data.item + ' gekauft. Neues Guthaben von <b>' + data.user + '</b>: ' + data.balance + 'Euro.', 'success');
        });
        }
        function buyItemWithPin() {
        // e.g. http://localhost:8000/api/buy/item/3/club-mate-05/
        user = $('#pinUser').val();
        itemSlug = $('#pinItemSlug').val();
        pin = $('#pinPin').val();
        $.getJSON( '/api/buy/item/' + user + '/' + itemSlug + '/', {pin: pin},function( data ) {
        addAlert(data.item + ' mit Pin gekauft. Neues Guthaben von <b>' + data.user + '</b>: ' + data.balance + 'Euro.', 'success');
        }).error(function() {
        addAlert('Kauf fehlgeschlagen. Pin korrekt?', 'danger');
        });
        //close modals, reset pin field
        $('#pinPin').val('');
        $('#pinModal').modal('hide');
        $('#buy-' + itemId).modal('hide');
        }
        function buyItemBtn(user, itemSlug, itemId) {
        buyItem(user, itemSlug);
        $('#buy-' + itemId).modal('hide');
        }
        function buyItemWithPinBtn1(user, itemSlug, itemId) {
        $('#pinUser').val(user);
        $('#pinItemSlug').val(itemSlug);
        $('#pinItemId').val(itemId);
        $('#pinModal').modal('show');
        }
        function addFunds(user, amount) {
        //api/accounts/1/add/funds/10/
        $.getJSON( '/api/accounts/' + user + '/add/funds/' + amount + '/', function( data ) {
        addAlert('Guthaben mit ' + amount + '€ aufgeladen. Aktuelles Guthaben: ' + data.balance, 'success');
        });
        }
        </script>
        <!-- PIN Modal -->
        <div class="modal fade" id="pinModal" tabindex="-1" role="dialog" aria-labelledby="pinModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="pinModalLabel">PIN eingeben</h4>
              </div>
              <div class="modal-body">
                <form id="pinform">
                  <input class="form-control input-lg" id="pinPin" type="password" placeholder="PIN">
                  <input type="hidden" value="" id="pinUser">
                  <input type="hidden" value="" id="pinItemId">
                  <input type="hidden" value="" id="pinItemSlug">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="buyItemWithPin()">Kaufen</button>
              </div>
            </div>
          </div>
        </div>
      </body>
    </html>