{% load static %}
{% load store_widgets %}
<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
    body {
    padding-top: 50px;
    padding-bottom: 20px;
    }
    </style>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Tante Mate Laden {% block title %} {% endblock %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if request.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              <li><a>Angemeldet als {{ request.user.username }}</a></li>
              <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-off"></i></a>
            </ul>
          {% else %}
            <form class="navbar-form navbar-right" method="post" action="{% url 'login' %}" role="form">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" placeholder="username" name="username" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" name="password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">Log in</button>
              <a class="btn btn-default" href={% url 'signup' %}">Registrieren</a>
            </form>
          {% endif %}
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
      <!-- Main jumbotron for a primary marketing message or call to action -->
      {% block jumbo %}
        <div class="jumbotron">
          <div class="container">
            <h1>Heisser, schwarzer Kaffee.</h1>
            <p>Kaffee ist leider gerade aus aber kuck dich ruhig um und nimm' dir ne Mate.</p>
          </div>
        </div>
      {% endblock %}
      <div class="container">
        {% block content %}
          {% drink_row %}
        {% endblock %}
        <footer>
          <p>&copy; deinkoks & fronbasal @ foobar e.V.</p>
        </footer>
        </div> <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
      </body>
    </html>