{% load static %}
{% load store_widgets %}
{% load theming %}
<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tante Mate Laden</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% theme_css %}
    <link href="{% static 'vendor/iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary justify-content-between">
    <a href="../" class="navbar-brand">{% block title %}TanteMateLaden{% endblock %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'stats' %}">Stats</a></li>
            <li class="nav-item"><a class="nav-link" href="/clubstarter/project/">ClubStarter</a></li>
        </ul>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
            {% if request.user.account.negative_funds %}
            <li class="nav-item negative-funds"><a class="nav-link" href="#" id="balance">Guthaben: {{ request.user.account.balance }}€</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="#" id="balance">Guthaben: {{ request.user.account.balance }}€</a></li>
            {% endif %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false" id="navBarFundDropdown">Guthaben aufladen <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="navBarFundDropdown">
                    <li class="dropdown-item"><a id="charge-0-5">0,50€</a></li>
                    <li class="dropdown-item"><a id="charge-1">1€</a></li>
                    <li class="dropdown-item"><a id="charge-1-5">1,50€</a></li>
                    <li class="dropdown-item"><a id="charge-2">2€</a></li>
                    <li class="dropdown-item"><a id="charge-5">5€</a></li>
                    <li class="dropdown-item"><a id="charge-10">10€</a></li>
                    <li class="dropdown-item"><a id="charge-20">20€</a></li>
                    <li class="dropdown-item"><a id="charge-50">50€</a></li>
                    <li class="dropdown-item"><a id="charge-100">100€</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account-index' %}">
                    {% if request.user.account.avatar %}
                    <img src="{{ request.user.account.avatar.url }}" style="
                                        max-height: 48px;
                                        margin-top: -15px;
                                        margin-bottom: -15px;
                                    ">{% endif %}
                    Angemeldet als <b>{{ request.user.username }}</b>
                </a>
            </li>
            <li><a href="{% url 'logout' %}"><span class="oi oi-account-logout" title="account-logout" aria-hidden="true"></span></i></a></li>
        </ul>
        {% else %}
        <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <form class="form-inline" method="post" action="{% url 'login' %}" role="form">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="text" placeholder="username" name="username">
                <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password">
                <button type="submit" class="btn btn-secondary my-2 my-sm-0">Log in</button>
                <a class="btn btn-link my-2 my-sm-0" href="{% url 'signup' %}">Registrieren</a>
            </form>
        </div>
        {% endif %}
    </div>

</nav>
<div id="alerts">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{ message }}
    </div>
    {% endfor %}
</div>
<!-- Main jumbotron for a primary marketing message or call to action -->
{% block jumbo %}
{% comment %}
<div class="jumbotron">
    <div class="container-fluid">
        <h1>Heisser, schwarzer Kaffee.</h1>
        <p>Kaffee ist leider gerade aus aber kuck dich ruhig um und nimm' dir ne Mate.</p>
    </div>
</div>
{% endcomment %}
{% endblock %}
<div class="container-fluid">
    {% block content %}
    LOREM IPSUM DEINE MUTTER
    {% endblock %}
</div> <!-- /container -->
<footer id="page-footer" style="padding-top: 20px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                &copy; <a href="https://twitter.com/deinkoks">deinkoks</a> & <a href="https://twitter.com/fronbasalpub">fronbasal</a>
                @ <a href="https://chaospott.de">foobar e.V.</a>
            </div>

            <div class="col-md-8">
              <span class="pull-right float-lg-right">
              {% if request.user.is_staff %}
                  <a href="/admin/">Administration</a> |
              {% endif %}
              <a href="/api/">API</a> |
              <a href="https://gitlab.com/c3e/TanteMateLaden">Gitlab</a> |
              <a href="bitcoin:1McEqx8kwZY9jvGK23pWhCNQryPSMvqL16">I CAN HAS DONATIONS?</a>
              </span>
            </div>

        </div>
    </div>
</footer>

{% block scripts %}
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="{% static 'js/main.js' %}"></script>
{% if request.user.id %}
<script>
    user = {
    {
        request.user.id
    }
    }
    ;
    $('#charge-100').click(function () {
        addFunds(user, 100)
    });
    $('#charge-50').click(function () {
        addFunds(user, 50)
    });
    $('#charge-20').click(function () {
        addFunds(user, 20)
    });
    $('#charge-10').click(function () {
        addFunds(user, 10)
    });
    $('#charge-5').click(function () {
        addFunds(user, 5)
    });
    $('#charge-2').click(function () {
        addFunds(user, 2)
    });
    $('#charge-1-5').click(function () {
        addFunds(user, 1.5)
    });
    $('#charge-1').click(function () {
        addFunds(user, 1)
    });
    $('#charge-0-5').click(function () {
        addFunds(user, 0.5)
    });
</script>
{% endif %}
{% endblock %}
</body>
</html>