{% extends 'layout.html' %}
{% load store_widgets %}
{% load static %}

{% block content %}
<h2>{{object.vendor}} {{object.name}} ({{object.diameter}}mm) {% if object.abrasive %}<span class="badge badge-warning">ABRASIV</span>{% endif %}</h2>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Drucktemperatur</h5>
      <div class="row">
        <div class="col-md-4">Temperatur (min)</div>
        <div class="col-md-8">{{object.print_temp_min}}°C </div>

        <div class="col-md-4">Temperatur (max)</div>
        <div class="col-md-8">{{object.print_temp_max}}°C </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Druckgeschwindikgeit</h5>
      <div class="row">
        <div class="col-md-4">Minimum</div>
        <div class="col-md-8">{{object.print_speed_min}} mm/s</div>

        <div class="col-md-4">Maximum</div>
        <div class="col-md-8">{{object.print_speed_max}} mm/s</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Druckbett</h5>
      <div class="row">
        <div class="col-md-4">Minimum</div>
        <div class="col-md-8">{{object.bed_temp_min}}°C</div>

        <div class="col-md-4">Maximum</div>
        <div class="col-md-8">{{object.bed_temp_max}}°C</div>
      </div>
    </div>
  </div>
</div>
<h3>Vorrätig</h3>
<div class="card-deck">
{% for fila in object.colors_available %}
{% include "store/includes/filament_card.html" with fila=fila %}
{% endfor %}
</div>
{% endblock %}

