{% extends 'layout.html' %}
{% load store_widgets %}
{% block content %}
	{% comment %}
	<h2>(Logged) Transactions</h2>
	<p>
		Total: {{trans_total}}
	</p>
{% endcomment %}
<h2>Verkäufe</h2>
<div class="row">
	<div class="col-md-6">
		<h3>Heute</h3>
		{% stats_sales_today %}
	</div>
	<div class="col-md-6">
		<h3>Letzte Woche</h3>
		{% stats_sales_last_week %}
	</div>
	<div class="col-md-6">
		<h3>Letzter Monat</h3>
		{% stats_sales_last_month %}
	</div>
	<div class="col-md-6">
		<h3>Insgesamt</h3>
		{% stats_sales %}
	</div>
</div>
{% endblock %}