{% extends 'layout.html' %}
{% load store_widgets %}
{% load static %}
{% block content %}
{% comment %}
<h2>(Logged) Transactions</h2>
<p>
    Total: {{trans_total}}
</p>
{% endcomment %}
<h2>Verkäufe</h2>
<div class="row">
    <div class="col-md-6">
        <h3>Heute</h3>
        {% stats_sales_today %}
    </div>
    <div class="col-md-6">
        <h3>Letzte Woche</h3>
        {% stats_sales_last_week %}
    </div>
    <div class="col-md-6">
        <h3>Letzter Monat</h3>
        {% stats_sales_last_month %}
    </div>
    <div class="col-md-6">
        <h3>Insgesamt</h3>
        {% stats_sales %}
    </div>
</div>

<h2>Getränke</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered" id="drinkstable">
            <thead>
            <th>Name</th>
            <th>Menge (l)</th>
            <th>Koffein (mg/l)</th>
            <th>Kalorien (kcal/l)</th>
            <th>Vorrätig</th>
            </thead>
            <tbody>
            {% for drink in drinks %}
            <tr>
                <td>{{drink.name}}</td>
                <td>{{drink.volume}}</td>
                <td>{{drink.caffeine|default_if_none:""}}</td>
                <td>{{drink.kcal|default_if_none:""}}</td>
                <td>{{drink.stock}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{block.super}}
<script src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'themes/default/css/datatables/dataTables.bootstrap4.css' %}"/>
<script type="text/javascript">
    $(document).ready(function () {
        $('#drinkstable').DataTable({
            "language": {
                "url": "{% static 'js/vendor/datatables/german.json' %}"
            }
        });
    })
</script>
{% endblock %}