{% load l10n %}
<div class="card h-100">
    <div class="card-body">
        <h4 class="card-title"><span class="label label-primary">{{ fila.name }}</span></h4>
        <div class="panel-text">
            {% if fila.image %}
                <img src="{{ fila.image.url }}" class="img-responsive hidden-xs" style="padding-bottom: 10px;">
            {% endif %}
            <div class="row">
                {% widthratio fila.stock 2500 100 as width %}
                <div class="col-md-12 col-lg-4 col-xl-3"><b>Vorrat</b></div>
                <div class="col-md-12 col-lg-8 col-xl-9">
                    <div class="progress" style="height: 80%;">
                        <div class="progress-bar progress-bar-info progress-bar-left px-2 text-left" role="progressbar" aria-valuenow="{{fila.stock}}" aria-valuemin="0" aria-valuemax="2500"
                            style="font-size: 0.7rem; width: {{width}}%;">
                            {{fila.stock}}gramm
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a onclick="buyFilamentModal({{fila.price|unlocalize}}, '{{fila.slug}}', {{fila.pk}}, '{{fila}}')" class="btn btn-primary btn-block">Wat drucken tun.</a>
    </div>
</div>