{% extends 'layout.html' %}
{% load bootstrap %}

{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <button class="btn btn-success" type="submit">Login</button>
</form>
<br>
<br>
{% endblock %}