{% extends 'layout.html' %}
{% load bootstrap %}
{% load static %}
{% block content %}
    <h2>
    {% if request.user.account.avatar %}
        <img src="{{ request.user.account.avatar.url }}" style="
        max-height: 75px;
        max-width: 150px;
        margin-right: 10px;
        margin-bottom: 30px;
    " class="img-thumbnail">{% endif %}
    Account Info</h2>
    <div class="row">
        <div class="col-md-8">
            <div class="card border-primary mb-2">
                <div class="card-body">
                    <form class="form" enctype="multipart/form-data" action="{% url 'account-index' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                {{userform|bootstrap}}
                                <div class="alert alert-info">
                                    API-Token: {{request.user.account.token}}
                                    <div class="float-right">
                                        <button type="submit" class="btn btn-secondary btn-sm" name="operation" value="token">Gen</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                {{accform|bootstrap}}
                                <div class="float-right">
                                    <button type="reset" class="btn btn-default">Reset</button>
                                    <button type="submit" class="btn btn-primary" name="operation" value="settings">Speichern</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="card border-primary mb-2">
                <div class="card-body">
                    <form class="form" enctype="multipart/form-data" action="{% url 'account-index' %}" method="post">
                        {% csrf_token %}
                        {{pinform|bootstrap}}
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary" name="operation" value="pin">PIN speichern</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card border-primary">
                <div class="card-body">
                    <form class="form" enctype="multipart/form-data" action="{% url 'account-index' %}" method="post">
                        {% csrf_token %}
                        {{pwform|bootstrap}}
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary" name="operation" value="password">Passwort ändern & neu anmelden</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-sm-4">
        <h2>Heutiger Konsum</h2>
        <p>
            {% with request.user.account.last_day as stats %}
            Ausgegeben: {{stats.spend|default_if_none:"0"}}€<br>
            Getrunken: {{stats.drinks.volume|default_if_none:"0"}}l<br>
            Koffein: {{stats.drinks.caffeine|default_if_none:"0"}}mg<br>
            Kalorien: {{stats.drinks.kcal|default_if_none:"0"}}kcal
        </p>
    {% endwith %}
</div>
<div class="col-sm-8">
    <h2>Transaktionen</h2>
    <table class="table table-bordered" id="transactiontable">
        <thead>
            <th>Datum</th>
            <th>Item</th>
            <th>Balance Change</th>
            <th>Beschreibung</th>
            <th>Benutzer</th>
        </thead>
        <tbody>
            {% for trans in transactions %}
                <tr>
                    <td>{{trans.date}}</td>
                    <td>{% if trans.item %}{{trans.item}}{% endif %}</td>
                    <td>{{trans.balance_change}}</td>
                    <td>{{trans.comment|default_if_none:""}}</td>
                    <td>{{trans.user_doing|default_if_none:"Anonym"}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
{% block scripts %}
{{block.super}}
<script src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'themes/default/css/datatables/dataTables.bootstrap4.css' %}"/>
<script type="text/javascript">
    $(document).ready(function () {
        $('#transactiontable').DataTable({
            "language": {
                "url": "{% static 'js/vendor/datatables/german.json' %}"
            }
        });
    })
</script>
{% endblock %}
{% block modals %}
{% endblock %}