{% extends 'layout.html' %}
{% load bootstrap %}
{% block content %}
	<h2>
	{% if request.user.account.avatar %}
	<img src="{{ request.user.account.avatar.url }}" style="
	max-height: 50px;
	max-width: 50px;
	margin-right: 10px;
	margin-bottom: 30px;
	" class="img-thumbnail">{% endif %}
	Account Info</h2>
	<div class="row">
		<form class="form" enctype="multipart/form-data" action="{% url 'account-index' %}" method="post">
			{% csrf_token %}
			<div class="col-md-4">
				{{userform|bootstrap}}
			</div>
			<div class="col-md-4">
				{{pinform|bootstrap}}
				<hr>
				{{accform|bootstrap}}
				<div class="pull-right">
					<button type="reset" class="btn btn-default">Reset</button>
					<button type="submit" class="btn btn-primary">Speichern</button>
				</div>
			</div>
		</form>
		<form class="form" action="{% url 'account-index' %}" method="post">
			{% csrf_token %}
			<div class="col-md-4">
				{{pwform|bootstrap}}
				<div class="pull-right">
					<button type="submit" class="btn btn-primary">Speichern und neu anmelden.</button>
				</div>
			</div>
		</div>
	</form>

	<div class="row">
	<div class="col-md-4">
	<h2>Heute</h2>
	<p>
	{% with request.user.account.last_day as stats %}
	Ausgegeben: {{stats.spend}}€<br>
	Getrunken: {{stats.drinks.volume}}l
	</p>
	{% endwith %}
	</div>
	<div class="col-md-8">
	<h2>Transaktionen</h2>
	<table class="table table-bordered">
	<thead>
		<th>ID</th>
		<th>Item</th>
		<th>Balance Change</th>
		<th>Beschreibung</th>
	</thead>
	<tbody>
	{% for trans in transactions %}
	<tr>
	<td>{{trans.id}}</td>
	<td>{% if trans.item %}{{trans.item}}{% endif %}</td>
	<td>{{trans.balance_change}}</td>
	<td>{{trans.comment}}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	</div>
	</div>
{% endblock %}