<!-- Modal -->
<div class="modal fade" id="buy-filament" tabindex="-1" role="dialog" aria-labelledby="buy-{{item.pk}}Label">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="buy-filamentLabel"><span id="filamentName">bla</span> benutzt</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="formControlRange">Gewicht</label>
                          <div class="form-row">
                            <div class="form-group col-md-8">
                                <input type="range" class="form-control-range" id="weightRange" step="1" value="1" min="1" max="1000">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="number" id="weightField" value="1"> Gramm
                            </div>
                            <input type="hidden" id="filaPrice" value="0.15">
                            <input type="hidden" id="filaSlug">
                            <button class="btn btn-primary btn-block" onclick="buyFilament()">Spendenempfehlung: <b id="filamentCost">0.15</b>€ in die Dose</button>
                        </div>
                    </div>
                    <script type="text/javascript">
                        var filaPrice = 0.15
                        var slider = document.getElementById("weightRange");
                        var output = document.getElementById("weightField");
                        var cost = document.getElementById("filamentCost");
                        output.innerHTML = slider.value; // Display the default slider value
                        // Update the current slider value (each time you drag the slider handle)
                        slider.oninput = function() {
                            output.value = this.value;
                            cost.innerHTML = this.value*filaPrice;
                        }
                    </script>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>