<!-- Modal -->
<div class="modal fade" id="buy-{{item.pk}}" tabindex="-1" role="dialog" aria-labelledby="buy-{{item.pk}}Label">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="buy-{{item.pk}}Label">{{item.name}} kaufen</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                {% if user.is_authenticated %}
                <a class="btn btn-primary btn-block" onclick="buyItemBtn({{user.pk}}, '{{item.slug}}', {{item.pk}})"><b>Für mich kaufen</b></a>
                <br>
                <a class="btn btn-secondary btn-block" onclick="cashbuyItemBtn('{{item.slug}}', {{item.pk}})"><b>Barkauf ({{item.price}}€ direkt in den <i>basher</i>)</b></a>
                <br>
                <h4>Für andere kaufen</h4>
                {% endif %}
                <div class="row">
                    {% for acc in accounts %}
                    {% if acc.show_public %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 pb-2">
                        <div class="card border-primary h-100">
                            {% if acc.free_access %}
                                <a class="text-center h-100" onclick="buyItemBtn({{acc.user_id}}, '{{item.slug}}', {{item.pk}})">
                            {% else %}
                                <a class="text-center h-100" onclick="buyItemWithPinBtn1({{acc.user_id}}, '{{item.slug}}', {{item.pk}})">
                            {% endif %}

                            {% if acc.avatar %}
                                <img alt="{{acc.user.username}} Avatar" src="{{ acc.avatar.url }}" class="card-img-top">
                            {% else %}
                                <span style="font-size: 70px;">?</span>
                            {% endif %}

                             </a>
                        <div class="card-footer">
                            {% if acc.free_access %}
                            <a onclick="buyItemBtn({{acc.user_id}}, '{{item.slug}}', {{item.pk}})"><h3>{{acc.user.username}} </h3></a>
                            {% else %}

                            <h3><a onclick="buyItemWithPinBtn1({{acc.user_id}}, '{{item.slug}}', {{item.pk}})"> {{acc.user.username}}</a>  <span class="badge badge-primary">PIN</span></h3>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>