{% load store_widgets %}
{% load l10n %}
<h2>Getränke</h2>
<div class="row">
    {% for drink in drinks %}
    <div class="pb-4 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title"><span class="label label-primary">{{ drink.volume }}l</span> {{ drink.name }}</h4>
                <div class="panel-text">
                    {% if drink.image %}
                    <img src="{{ drink.image.url }}" class="img-responsive hidden-xs" style="padding-bottom: 10px;">
                    {% endif %}
                    <div class="row">
                        {% if drink.kcal > 0 %}
                        {% widthratio drink.kcal 500 100 as width %}
                        <div class="col-md-12 col-lg-4 col-xl-3"><b>Kalorien</b></div>
                        <div class="col-md-12 col-lg-8 col-xl-9">
                            <div class="progress" style="height: 80%;">
                                <div class="progress-bar progress-bar-info progress-bar-left px-2 text-left" role="progressbar" aria-valuenow="{{drink.kcal|unlocalize}}" aria-valuemin="0" aria-valuemax="500"
                                     style="font-size: 0.7rem; width: {{width}}%;">
                                    {{drink.kcal}}kcal/l
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if drink.sugar > 0 %}
                        {% widthratio drink.sugar 100 100 as width %}
                        <div class="col-md-12 col-lg-4 col-xl-3"><b>Zucker</b></div>
                        <div class="col-md-12 col-lg-8 col-xl-9">
                            <div class="progress" style="height: 80%;">
                                <div class="progress-bar progress-bar-info progress-bar-left px-2 text-left" role="progressbar" aria-valuenow="{{drink.sugar|unlocalize}}" aria-valuemin="0" aria-valuemax="100"
                                     style="font-size: 0.7rem; width: {{width}}%;">
                                    {{drink.sugar}}g/l
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if drink.alcohol > 0 %}
                        <div class="col-md-12 col-lg-4 col-xl-3"><b>Alkohol</b></div>
                        <div class="col-md-12 col-lg-8 col-xl-9>
								<div class=" progress
                        " style="height: 80%;">
                        <div class="progress-bar progress-bar-warning progress-bar-left px-2 text-left" role="progressbar" aria-valuenow="{{drink.alcohol|unlocalize}}" aria-valuemin="0" aria-valuemax="100"
                             style="font-size: 0.7rem; width: {{drink.alcohol}}%;">
                            {{drink.alcohol}}%
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if drink.caffeine > 0 %}
                {% widthratio drink.caffeine 300 100 as width %}
                <div class="col-md-12 col-lg-4 col-xl-3"><b>Koffein</b></div>
                <div class="col-md-12 col-lg-8 col-xl-9">
                    <div class="progress" style="height: 80%;">
                        <div class="progress-bar progress-bar-info progress-bar-left px-2 text-left" role="progressbar" aria-valuenow="{{drink.caffeine|unlocalize}}" aria-valuemin="0" aria-valuemax="300"
                             style="font-size: 0.7rem; width: {{width}}%;">
                            {{drink.caffeine}}mg/l
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-block"  href="#" data-toggle="modal" data-target="#buy-{{drink.pk}}">
            Kaufen ({{drink.price}}<i class="glyphicon glyphicon-euro"></i>)
        </a>
    </div>
    {% buy_item_modal drink %}
</div>
</div>
{% endfor %}
</div>