{% load store_widgets %}
{% load l10n %}

{% if enabled  %}
    <h2>Filamente</h2>
        {% regroup filaments by filamenttype as fila_list %}
        {% for filatype in fila_list %}
            <h3>{{filatype.grouper}} <a href="{{filatype.grouper.get_absolute_url}}" class="btn btn-info">?</a></h3>
            <div class="row">
            {% for fila in filatype.list %}
                <div class="pb-4 col-sm-6 col-md-4 col-lg-3">
                    {% include "store/includes/filament_card.html" with fila=fila %}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    {% include "store/widgets/buy_filament_modal.html" %}
{% endif %}