<!-- PIN Modal -->
<div class="modal fade" id="pinModal" tabindex="-1" role="dialog" aria-labelledby="pinModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="pinModalLabel">PIN eingeben</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="pinform">
                    <input class="form-control input-lg" id="pinPin" type="password" placeholder="PIN">
                    <input type="hidden" value="" id="pinUser">
                    <input type="hidden" value="" id="pinItemId">
                    <input type="hidden" value="" id="pinItemSlug">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="buyItemWithPin()">Kaufen</button>
            </div>
        </div>
    </div>
</div>