{% for item in sales %}
{% widthratio item.num_sales total_item_sales 100 as width %}
<div class="progress" style="margin-bottom: 1em; height: 2em;">
    <div class="progress-bar progress-bar-left text-left px-2" role="progressbar" aria-valuenow="{{width}}" aria-valuemin="0" aria-valuemax="100" style="width: {{width}}%; font-size: 1rem;">
        {{item.name}} <!--HIDE PERCENTAGE {{width}}% -->
    </div>
</div>
{% endfor %}
<hr>
<p>Insgesamt: {{total_item_sales}}</p>